@import url('global-styles.css');

#container {
    /* 적용됨 */
    width: 100%;
    /* 왜 적용 안 됨? */
    height: calc(var(--browser-height) - var(--header-height) - var(--footer-height));
    display: grid;
    place-items: center;
}

.text {
    text-align: center;
    font-size: 5.5rem;
}

.textContainer {
    margin-bottom: 70px;
}

.textContainer:hover {
    transform: translateY(-10%);
}