:root {
    --btn-width: 40px;
    --btn-height: 20px;
    --btn-circle-diameter: 17px;
    --btn-circle-gap: 1.5px;
}

/* 헤더 */
#header {
    display: flex;
    width: 100%;
    height: var(--header-height);

    background: var(--main-background-color);

    /* 상단, 중앙 고정 배치 */
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
    border-bottom: solid var(--main-line-color) 1px;
}

/* 네비게이션 컨테이너 */
#navContainer {
    width: var(--browser-width);
    height: 100%;
    position: relative;

    /* 좌우로 정렬 */
    display: flex;

    /* 세로축/교차축의 정렬 방법: 세로에서 중간에 두겠다 */
    align-items: center;
    /* 가로축/주축의 정렬 방법: 사이에 공간을 두겠다 */
    justify-content: space-between;
}

/* 리스트 요소 */
.listElement {
    margin: 0px 10px;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
    align-items: center;
    /* 세로 가운데 정렬 */
}

.listElement:hover>a {
    color: var(--element-color-blue);
}

/* 왼쪽 영역 */
.left {
    height: 50px;
    display: flex;
    margin-left: 50px;
}

/* 로고 */
.logo {
    font-size: 1.4rem;
}

/* 오른쪽 영역 */
.right {
    display: flex;
    margin-right: 20px;
}

/* 검색창 */
#searchBar {
    /* 지역변수 */
    --height: 35px;
    width: 300px;
    height: var(--height);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: var(--height);

    background-color: var(--element-color-gray);
}

#searchBar:focus-within {
    outline: solid 1px var(--element-color-blue);
}

/* 검색 버튼 */
.searchButton {
    margin-left: 10px;
    background: none;
    border: none;

    display: grid;
    place-items: center;
}

.searchButton:hover {
    cursor: pointer;
}

/* 검색 입력창 */
#searchInput {
    /* 지역변수 */
    --height: 15px;
    width: 254px;
    height: var(--height);

    background: none;
}

#searchInput:focus+#searchBar {
    height: 100px;
}

#login {
    display: flex;
}

/* 로그인 버튼 */
#signIn {
    background-color: var(--element-color-gray);

    margin: 0 5px 0 20px;
}

/* 회원가입 버튼 */
#signUp {
    background-color: var(--element-color-blue);
}

#signIn:hover {
    background-color: var(--element-color-gray-hover);
}

#signUp:hover {
    background-color: var(--element-color-blue-hover);
}

/* 버튼 공통 속성 */
.button {
    /* 지역변수 */
    --height: 35px;
    width: 90px;
    height: var(--height);
    border-radius: var(--height);

    display: grid;
    place-items: center;
}

/* 테마 버튼 */
.themaBtn {
    display: inline-block;
}

.themaBtn *,
.themaBtn *::before,
.themaBtn *::after {
    box-sizing: border-box;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.themaBtn input {
    position: absolute;
    opacity: 0;
}

.themaBtn label {
    display: block;
    position: relative;
    width: var(--btn-width);
    height: var(--btn-height);
    user-select: none;
    color: transparent;
    cursor: pointer;
}

.themaBtn label::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--btn-height);
    border: solid 1px var(--main-line-color);

    background: var(--element-color-gray);
}

.themaBtn label::after {
    --diameter: 17px;
    content: '';
    display: block;
    position: absolute;
    top: var(--btn-circle-gap);
    left: var(--btn-circle-gap);
    width: var(--btn-circle-diameter);
    height: var(--btn-circle-diameter);
    border-radius: 50%;
    border: solid 1px var(--main-line-color);
    background: var(--main-background-color);
}

.themaBtn input:checked+label::before {
    background: var(--element-color-gray);
}

.themaBtn input:checked+label::after {
    left: calc(100% - var(--btn-circle-diameter) - var(--btn-circle-gap));
}