@import url('../styles/global-styles.css');

#container {
    display: flex;
    /* 좌측으로 확장하기 위함 */
    flex-direction: row-reverse;
    /* min-width: 15%; */
    /* width: 15%; */
    /* 임의값 */
    width: 130px;
    margin-right: 10px;
}

.languagesContainer {
    display: block;
    background: var(--element-color-gray);
    padding: 10px;
    width: 100px;

    position: absolute;
    margin-right: var(--tag-sidebar-button-width);

    /* justify-items: center; */
}

.languagesContainerOpened {
    width: 255px;
}

.text {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0px;
}

.languagesButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.languagesButtonOpened {
    /* 좌측정렬을 해주기 위함 */
    justify-content: flex-start;
}

.tagButton {
    display: flex;
    flex-wrap: wrap;
}

.tagButtonOpened {
    /* 현재는 필요 없는 상태 */
}

.languageImage {
    display: none;
    margin: 4px;

    width: 50px;
    height: 50px;

    object-fit: cover;
    border-radius: 25px;
}

.languageImage:hover {
    cursor: pointer;
}

.languageImageOpened {
    display: block;
}

.outlined {
    outline: solid 3px var(--element-color-blue);
}

.checked {
    box-sizing: content-box;

    outline: solid 3px var(--element-color-blue);
}

.majorArea {
    --height: 30px;
    display: none;
    width: auto;
    height: var(--height);
    margin: 3px;

    padding: 0px 10px;

    border: none;
    border-radius: var(--height);

    text-align: center;

    color: var(--font-color);
    background: var(--main-background-color);
    /* background: var(--element-color-gray); */
    font-size: 0.8rem;
}

.majorArea:hover {
    cursor: pointer;
}

.majorAreaOpened {
    display: block;
}

#sidebarButtonContainer {
    background: none;
}

#sidebarButton {
    width: var(--tag-sidebar-button-width);
    height: 50px;
    /* 임의값 */
    /* margin-top: 58px; */
    background-color: var(--element-color-gray);

    position: relative;

    display: grid;
    place-items: center;
}

:root {
    --main-background-color: rgb(31 41 55);
    --main-line-color: rgba(107, 114, 128, 0.3);

    --element-color-gray: rgb(55 65 81);
    --element-color-gray-hover: rgb(75 85 99);
    --element-color-blue: rgb(0 144 249);
    --element-color-blue-hover: rgb(11, 127, 211);

    --brower-width: 1280px;
    --font-color: white;

    background-color: var(--main-background-color);
    color: white;
}