@import url('global-styles.css');

/* container */
#container {
    background-color: var(--element-color-gray);
    width: 80%;

    padding: 20px 40px 100px;
    /* 뭔가,, 있어야 보기 편해,, */
    padding-top: 20px;
    padding-bottom: 100px;
}

/* tag container */
#tagContainer {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* tag button */
.tagButton {
    --height: 40px;
    display: block;
    width: auto;
    height: var(--height);

    margin: 5px;
    padding: 0px 10px;

    border: none;
    border-radius: var(--height);

    text-align: center;

    color: var(--font-color);
    background-color: var(--element-color-blue);
    font-size: 1rem;

    /* 이메일, 비밀번호 글자의 이격을 주기 위함 */
}

.tagButton:hover {
    background-color: var(--element-color-blue-hover);
    cursor: pointer;
}

/* element container */
#elementContainer {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

/* small button */
.smallButton {
    width: 100px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    border: none;
    border-radius: 4px;

    color: var(--font-color);
    background-color: var(--element-color-blue);
    font-size: 1rem;
    text-align: center;
}

.smallButton:hover {
    background-color: var(--element-color-blue-hover);
    cursor: pointer;
}

/* search bar */
.searchBar {
    /* 지역변수로 들어가는 듯 */
    --height: 35px;
    width: 200px;
    height: var(--height);

    display: flex;

    align-items: center;

    border: none;
    border-radius: var(--height);

    background-color: var(--main-background-color);
}

.searchBar:focus-within {
    /* outline 으로 처리하는 것이 더 적합 */
    outline: solid 1px var(--element-color-blue);
}

/* search button */
.searchButton {
    /* margin-left: 10px; */
    background: none;
    border: none;

    display: grid;
    place-items: center;

    margin-left: 11px;
}

.searchButton:hover {
    cursor: pointer;
}

/* search input */
.searchInput {
    /* 지역변수로 들어가는 듯 */
    --height: 15px;
    width: 154px;
    height: var(--height);

    background: none;
}

/* page container */
#pageContainer {
    display: flex;
}

/* table container */
#tableContainer {
    display: grid;
    place-items: center;
}

/* table */
table {
    /* 테이블의 테두리를 병합하는 방식을 지정합니다. 테이블 셀 간의 테두리가 병합되어 보다 간결하고 디자인을 얻을 수 있습니다. */
    border-collapse: collapse;

    width: 100%;
    text-align: center;
}

/* table header */
th,
td {
    padding: 10px;
    border-bottom: 1px solid var(--main-line-color);
}

/* table body */
tbody>tr>td:nth-child(2) {
    text-align: left;
}